<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uncg.studdybuddy.studybuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    Study Buddy Logo
        https://www.pinterest.com/pin/542261611366514326/
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/sb_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".StartActivity"
            android:label="StudyBuddy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
            android:label="Register" />
        <activity
            android:name=".ClassesActivity"
            android:label="Classes" />
        <activity
            android:name=".MainMenu"
            android:label="Main Menu" />

        <!--
        <activity android:name=".ChatRoomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".ChangePasswordActivity"></activity>
    </application>

</manifest>